[Desktop Entry]
Name=Cursor
Type=Application
Exec=/home/ivan/apps/Cursor.AppImage
Icon=/home/ivan/dotfiles/xdg/applications/cursor.png
Categories=TextEditor;Development;IDE;

