[Desktop Entry]
Name=Obsidian
Type=Application
Exec=/home/ivan/apps/Obsidian.AppImage
Icon=/home/ivan/dotfiles/xdg/applications/obsidian-icon.png
Categories=Utility;Application;

