[Desktop Entry]
Name=Obsidian
Type=Application
Exec=/snap/bin/obsidian
Icon=/snap/obsidian/current/meta/gui/icon.png
Categories=Utility;Application;

