[Desktop Entry]
Name=Ultimaker-Cura
Type=Application
Exec=/home/ivan/apps/Ultimaker-Cura.AppImage
Icon=/home/ivan/dotfiles/xdg/applications/ultimakercura.png
Categories=TextEditor;Development;IDE;

