[Desktop Entry]
Type=Application
Exec=/usr/bin/barrier
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Barrier
Name=Barrier
Comment[en_US]=
Comment=
