[Desktop Entry]
Type=Application
Exec=/home/ivan/apps/Obsidian.AppImage
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Obsidian
Name=Obsidian
Comment[en_US]=
Comment=
