[Desktop Entry]
Type=Application
Name=Todoist
Exec=/snap/bin/todoist
Icon=todoist
Terminal=false
Comment=Todoist
Categories=Utility;Application;
StartupNotify=true
